.answer {
    display: flex;
    height: 100px;
    margin: 10px;
    min-width: 500px;
    width: 80%;
    perspective: 1000px;
}

.answerContent {
    display: flex;
    flex: 1;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    
}
.answerContent.revealedAnswer {
    transform: rotateY(180deg);

}

.front , .back {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    background-color: white;
    color: black;
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    
}

.back {
    transform: rotateY(180deg)
}

.leter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 20px;
    color: white;
}

.value {
    font-size: 1.3rem;
    font-weight: 700;

}

.back > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}

.wright {
    background-color: #2baa6d;
}
.wrong {
    background-color: #e44a4c;
}
.wright .value , .wrong .value {
    font-size: 1.5rem;
}
