.app {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 200px;
    grid-template-areas:
        "header"
        "content"
        "footer";
    height: 100vh;
    background-color: #f5f5f5;


}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
    background-color: blue;
    width: ;

}


.footer {
    grid-area: footer;
}